.App {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.accountDetails {
  padding-bottom: 3rem;
}

input {
  width: 50ch;
}

.field {
  display: flex;
  width: 35rem;
  justify-content: space-between;
  font-weight: 700;
  color: rgb(61, 61, 61);
}

.error {
  &:first-of-type {
    margin-top: 20rem;
  }
  color: rgb(235, 82, 82);
  font-weight: 600;
}

button {
  padding: 0.5em 1em;
  margin: 0em 1em;
  border: none;
  background-color: rgb(47, 65, 126);
  border-radius: 4px;
  font-weight: 600;
  color: white;
  width: fit-content;

  &:hover {
    background-color: rgb(64, 85, 155);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
}

.value {
  font-weight: 400;
}

.sendingIndicator {
  padding-top: 30px;
  font-style: italic;
  color: rgb(119, 119, 119);
}